// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.llm-msg {
    position: absolute !important; left: -10000px !important; top: auto !important; width: 1px !important; height: 1px !important; overflow: hidden !important; 
  }

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }

  llm_aha_test {
    background-color: red;
    position: absolute !important;
    left: -100000px !important;
    top: auto !important;
  }
}

// Print-only styles.
@media print {
  .side-bar {
    display: none;
  }

  .page-header {
    display: none;
  }

  .main-content {
    max-width: auto;
    margin: 1em;
    font-size: 10px;
    line-height: 1.2;
  }

  .llm-msg { 
    display: none !important; 
  } 
    
  .main-content {
    max-width: auto; margin: 1em; font-size: 10px !important;  line-height: 1.2 !important;
  }
  
  .code {font-size: 10px !important;}
  
  code {font-size: 10px !important;}
    
}

