// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

.highlight {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
  background: $grey-lt-300;
}

.language-sh {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
  background: $grey-lt-300;
}

listingblock {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
  background: $grey-lt-300;
}

pre .figure {
  background: $grey-lt-300;
}

pre .class {
  background: $grey-lt-300;
}

pre .highlight {
  background: $grey-lt-300;
}

pre.highlight {
  background: $grey-lt-300;
}

code.highlighter-rouge {
  background: $grey-lt-300;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.llm-msg {
    position: absolute !important; left: -10000px !important; top: auto !important; width: 1px !important; height: 1px !important; overflow: hidden !important; 
  }

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: bold;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    + dt {
      margin-top: 1em;
    }
  }

}

// Print-only styles.
@media print {
  .side-bar {
    display: none;
  }

  .page-header {
    display: none;
  }

  .main-content {
    max-width: auto;
    margin: 1em;
    font-size: 10px;
    line-height: 1.2;
  }

  .llm-msg { 
    display: none !important; 
  } 
    
  .main-content {
    max-width: auto; margin: 1em; font-size: 10px !important;  line-height: 1.2 !important;
  }
  
  .code {
    font-size: 11px !important;
    background: $grey-lt-100;
    }
  
  code {
    font-size: 11px !important;
    background: $grey-lt-100;
    }

  .img {
    max-width: 200px;
  }

  img {
    max-width: 200px;
  }
    
}


.scheduling-table {
  border-collapse: collapse;
  width: unset;
  min-width: 1% !important;
  margin: 1em 0;
}

.scheduling-table table {
  border-collapse: collapse;
  width: unset;
  min-width: 1% !important;
  margin: 1em 0;
}

.scheduling-table th,
.scheduling-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  min-width:2px;
}

.scheduling-table th {
  background-color: #f4f4f4;
}


.scheduling-table tr:last-of-type th, 
  tbody tr:last-of-type 
  td 
{ border-bottom: 1px solid #ccc; }

.important-title {
  background: #d9e9ff;
}

.important-title h3 {
  margin-top: 0.3em;
}

